//Colours
$light-grey: rgba(0, 0, 0, 0.15);
$dark-grey: rgba(0, 0, 0, 0.6);
$background: rgb(64, 64, 189);
$text-grey: rgba(0, 0, 0, 0.8);

// Spacings
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

$border-radius: 4px;
$grey-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2); //darken($background, 20%);