.add-item {
    width: 100%;

    form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
}

.add-item__text-input {
    flex-grow: 1;
    padding: 8px;

    margin: 0 $s-size 0 0;

    border-radius: $border-radius;
    border: none;
    font-family: 'Raleway', sans-serif;
}

.add-item__text-input:focus {
    box-shadow: $grey-shadow;
}

