.header {
    font-family: 'Indie Flower', cursive;
    font-size: 2.4rem;
    text-align: center;
    color: white;

    h1 {
        margin: $m-size;
    }
}

.user-info {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;

    font-family: 'Raleway', sans-serif;
    font-size: $s-size;
}