.list-item-wrapper {
    width: 100%;
    height: 100%;

    border: transparent 1px solid;
}

.list-item {
    width: 800px;
    height: 50px;
    background: white;

    border-radius: $border-radius;
    box-shadow: $grey-shadow;
    
    padding: 0 $s-size;
    margin: 4px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: $m-size;

}

.list-item__btns {
    display: flex;
    align-items: center;

    text-align: center;
}

$btn-size: 24px;
.list-item__checkbox {
    //margin: 0 4px;
    width: $btn-size;
    height: $btn-size;
}

.list-item__delete {
    background-image: linear-gradient(#f7474a, darken(#f7474a, 15%));
    color: white;
    box-shadow: none;
    padding: 0;
    width: $btn-size;
    height: $btn-size;
    line-height: 16px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.completed {
    background-image: linear-gradient(rgb(123, 218, 123), darken(rgb(123, 218, 123), 20%));
    p {
        text-decoration: line-through;
    }
}