.list-container {
    width: 100%;
    border-radius: $border-radius;
}

.list-controls {
    margin-bottom: $m-size;
    width: 500px;
}

.fade-enter {
    .list-item {
        opacity: 0.01;
        background: rgba(255, 255, 255, 0.01);
    }
}

.fade-enter-active {
    .list-item {
        opacity: 1;
        background: rgba(255, 255, 255, 1.0);
        transition: opacity 200ms ease,
        background 200ms ease;
    }
}

.fade-exit {
    max-height: 75px;

    .list-item {
        opacity: 1;
        background: rgba(255, 255, 255, 1.0);
    }
}

.fade-exit-active {
    max-height: 0;
    transition: max-height 200ms ease-in-out;

    .list-item {
        opacity: 0.01;
        background: rgba(255, 255, 255, 0.01);
        transition: opacity 200ms ease 0s,
        background 200ms ease 0s;
    }
}