.login-container {
    margin: auto;
    padding: 10px;

    border-radius: $border-radius;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-card {
    margin: auto;
    padding: 0 16px;
    background: white;

    border-radius: $border-radius;
    box-shadow: $grey-shadow;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__heading {
    text-align: center;
    margin: 32px 0;
}

.login-form {
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.login__input {
    margin: 0 0 16px 0;
    font-size: 1.5rem;

    input {
        width: 100%;
        padding: 8px;
        font-size: 1.5rem;
        color: $text-grey;
        border: solid lightgrey;
        border-width: 2px 1px 1px 2px;
        border-radius: $border-radius;
        background: rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin: 0 0 8px 0;
        font-size: 1.2rem;
        color: lighten($text-grey, 40%);
    }
}

.login__submit {
    width: 128px;
    margin: 16px auto 32px auto;
    padding: 8px;
    font-size: 1.5rem;

    background-image: linear-gradient(#2dabf9, #0688fa);
    color: white;
    border: none;
    border-radius: $border-radius;

    cursor: pointer;
}

.login__submit:hover {
    box-shadow: $grey-shadow;
}

.login__error {
    text-align: center;
    color: #f43535;

    font-size: 1.2rem;
}

.login__signup-link {
    margin:  0 0 16px 0;
    text-align: center;

    font-size: 1.2rem;
    color: lighten($text-grey, 40%);

    p {
        margin-right: 8px;
        display: inline-block;
    }
}

.login-error {
    color: red;
}