.login-container {
    height: 100vh;

    border-radius: $border-radius;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: $background;
}

.app-title {
    color: white;
    margin: 32px 0;
}

.login-card {
    margin: 0 auto;
    padding: 0 16px;
    background: white;

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__heading {
    text-align: center;
    margin: 32px 0;
}

.login-form {
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.login__input {
    margin: 0 0 16px 0;
    font-size: 1.5rem;

    input {
        width: 100%;
        padding: 8px;
        font-size: 1rem;
        color: $text-grey;
        border: solid lightgrey;
        border-width: 2px 1px 1px 2px;
        border-radius: $border-radius;
        background: rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin: 0 0 8px 0;
        font-size: 1rem;
        color: lighten($text-grey, 40%);
    }
}

.login__submit {
    width: 128px;
    margin: 16px auto 32px auto;
    padding: 8px;
    font-size: 1rem;

    background: $background;
    color: white;
    border: none;

    cursor: pointer;
}

.login__submit:hover {
    background: lighten($background, 20%);
}

.login__error {
    text-align: center;
    color: #f43535;
    margin: 0 0 8px 0;
}

.login__signup-link {
    margin:  0 0 16px 0;
    text-align: center;
    font-size: 12px;

    color: lighten($text-grey, 40%);

    p {
        margin-right: 8px;
        display: inline-block;
    }
}

.login-error {
    color: red;
}