.task-page-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-auto-rows: 1fr;
}

.sidebar-container {
    height: 100%;

    background: $background;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
    color: white;

    padding: 0 1.5rem;
}

.main-container {
    padding: 0 8rem;
}