.user-info {
    position: relative;
    margin: 16px 0 0 0;

    display: flex;
    justify-content: space-between;

    font-size: 16px;
    p {
        font-weight: lighter;
        //color: rgba(255, 255, 255, 0.5);
    }
}

.user-info__name {
    color: white;
    font-weight: bold;
    //float: right;
}

.user-info__more {
    -webkit-appearance: none;
    -moz-appearance: none;

    background: none;
    border: none;
    border-radius: 50%;
    color: white;

    cursor: pointer;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    outline: none;

    transition: background 0.2s;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

.user-info__menu {
    position: absolute;
    left: 90%;
    top: 100%;

    border-radius: 4px;
}

.user-info__logout-btn {
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 4px 32px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    //background: $background;
    //color: white;
    font-family: 'Roboto', sans-serif;

    font-size: 16px;

    &:hover {
        background: rgba(235, 235, 235, 1);
    }
}